*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-img:url('src/background.jpg');
    --text-gradient:linear-gradient(to right, #8a2be2, #ff007f, #ffeb3b);
}
body{
    background-image: var(--background-img);
    text-align: center;
    color:rgb(223, 222, 220);
}

h1{
    margin-top: 5rem;
}
h1 q .school{
    display: inline-block;
    background-image: var(--text-gradient); 
    color:transparent;
    background-clip: text;
}
.btn{
    width: 50px;
    height: 50px;
}
.icon{
    height: 100%;
}
.btn, .icon{
    border-radius: 100%;
}
.btn{
    border:1px solid rgb(230, 221, 205);
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    cursor: pointer;
}
.button-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap:1.8rem;
}
.btn:hover::after{
    content: attr(text);
    position: absolute;
    width: 120%;
    top:-65%;
    background: var(--bg-color);
    color:white;
    border-radius: 5px;
    padding:.3rem .4rem;
    text-align: center;
    animation: button-hover 600ms ease-in-out forwards;
}
.btn:hover{
    border-color:black;
}
@keyframes button-hover {
    0%{
        top:0;
        opacity: 0;
    }
    50%{
       top:-30%;
       opacity: .5; 
    }
    60%{
        top:-50%;
        opacity: .8;
    }
    80%{
        top:-65%;
        opacity: .8;
        z-index: 1;
    }
    90%{
        top:-55%;
        opacity: 1;
        z-index: 1;
    }
    100%{
        top:-65%;
        opacity: 1;
        z-index: 1;
    }
}


/*
    --facebook-color:#1877F2;
    --instagram-color:linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    --linkedin-color:#0A66C2;
    --tiktok-color:#501432;
    --twitter-color:#1DA1F2;
    --telegram-color:#0088CC;

*/