* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(public/music/azat_donmezow.jpg);
  background-size: cover;
  background-position: center;
	transition: background .5s ease-in-out;
}
.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.container {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  width: 360px;
  user-select: none;
  box-shadow: 3px 3px 6px rgb(185, 185, 185), -3px -3px 6px white;
	animation: slideUp .5s ease-in-out .2s;
}
@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.music-image {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin: -20% auto;
  margin-bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px black;
  cursor: pointer;
	transform: scale(1);
	transition: all 1s ease-in-out;
	animation: slideUpImg 1s ease-in-out .7s;
}
.music-image:hover {
  box-shadow: 0 0 15px black;
	transform: scale(1.05);
}
@keyframes slideUpImg {
  0% {
    transform: translateY(0);
  }
	50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.imgBlur{
	filter: blur(5px);
}
.player-container {
  padding: 1rem;
}
.text-content {
  padding-top: 1.5rem;
  text-align: center;
}
.music-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(14, 6, 6);
  margin-bottom: 0.5rem;
}
.music-author {
  color: rgb(171, 172, 172);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.process-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.music-times {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: rgb(107, 105, 105);
  font-size: 0.9rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.process {
  height: 6px;
  background-color: rgb(53, 92, 107);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  position: relative;
	transition: box-shadow .5s ease-in-out;
}
.process:hover {
	box-shadow: 0 0 5px 2px rgb(134, 206, 235);
}
.process-bar-fill {
  height: 6px;
  width: 0.5%;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(77, 190, 228);
	position:relative;
}
.process-bar-fill::after{
	content: "";
	width:20px;
	height:20px;
	border-radius: 50%;
	background-color: rgb(93, 212, 252);
	position: absolute;
	right:-8px;
	top:-7px;
}
.play-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.play-icons .icon {
  cursor: pointer;
  width: 50px;
  transition: fill 0.5s ease-in-out;
}
.play-icons .icon-rewind,
.play-icons .icon-forward {
  width: 40px;
}
.play-icons .icon:hover {
  fill: rgb(3, 8, 3);
}
.not_show {
  display: none;
}