*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* this */
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.5s linear;
}

body::before{
    content: '';
    background-color: #0000006e;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
}
.container{   
    box-shadow: 0 3px 6px #0000003d,3px 0 6px #0000003d;
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}
.slider{
    position: absolute;
    left: -15vw;
    top: -15vh;
    width: 100vw;
    height: 100vh;
    /* this */
    background-position: center center;
    background-size: cover;
}

.arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f0f8ff27;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}

.arrow-left{
    left:calc(15vw - 40px);
}
.arrow-right{
    right: calc(15vw - 40px);
}
.arrow-right:hover, .arrow-right:active{
    background-color: #f0f8ff62;
    box-shadow: 2px 0 4px #3c3d3c6e;
}
.arrow-left:hover, .arrow-left:active{
    background-color: #f0f8ff62;
    box-shadow: -2px 0 4px #3c3d3c6e;
}
.arrow img{
    width: 100%;
    height: 100%;
}