.cont{
    background-color: blue;
    position: relative;
}
.item{
    background-color: aqua;
    height: 50px;
    border-style: dotted;
    border-width: 2px;
    user-select: none;
    cursor: grab;
}
.dragging{
    background-color: blue;
    position: absolute;
    z-index: 10;
}
/* 
.item.selected{
    z-index: 100;
} */

