:root{
    --base-color:white;
    --base-variant:#e8e9ed;
    --text-color:#111528;
    --secondary-text:#232738;
    --primary-color:#3a435d;
    --accent-color:#0071ff;
    --svg-color:black;
}
.dark{
    --base-color:#070b1d;
    --base-variant:#101425;
    --text-color:#ffffff;
    --secondary-text:#a4a5b8;
    --primary-color:#3a435d;
    --accent-color:#0071ff;
    --svg-color:white;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family:cursive;
}
body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}


h1,h2{
    text-align: center;
}
button{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--base-color);
}
button.cta-button{
    background-color: var(--accent-color);
}
header{
    padding: 40px 10px;
    position: relative;
}
section{
    padding: 20px 10px;
    background-color: var(--base-variant);
}
#theme-switch{
    position:fixed;
    width: 40px;
    height: 40px;
    top:10px;
    right: 20px;
    padding: 5px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch svg{
    fill:var(--svg-color);
    
}
#theme-switch svg:last-child{
    display: none;
}
.dark #theme-switch svg:last-child{
    display: block;
    

}
.dark #theme-switch svg:first-child{
    display: none;
}