*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #454547;
}
ul{
    position: relative;
    transform: skewY(-15deg);

}
ul li{
    position: relative;
    list-style: none;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;
    z-index: var(--p);
}
ul li:hover{
    background-color: rgb(37, 173, 173);
    cursor: pointer;
}
ul:nth-child(1) li:hover{
    transform: translateX(50px);
}
ul:nth-child(2) li:hover{
    transform: translateX(-50px);
}
ul li::before{
    content: '';
    width: 40px;
    height: 100%;
    background-color: #28292c;
    position: absolute;
    top:0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    z-index: -1;
}
ul li:hover::before{
    background-color: rgb(41, 145, 145);
}
ul li::after{
    content: '';
    width: 100%;
    height: 40px;
    background-color: #3e3f46;
    position: absolute;
    top:-40px;
    left:0;
    transform-origin: bottom;
    transform: skewX(45deg);
    z-index: -1;
    transition: 0.5s;
}
ul li:hover::after{
    background-color: rgb(37, 173, 173);
}
li a{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
li:hover a{
    color:white
}
li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0, 0, 0,0.25);
}