*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.question-contianer{
    padding-top: 50px;
    background-color:white;
    border-radius: 10px;
    width: 600px;
    max-width: 80vw;
}

.question-contianer .question{
    padding:10px 40px;
    margin-bottom: 20px;
    font-size: 2.3em;
    text-align: center;
}

.question-contianer .ask ul{
    margin: 50px;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}
.question-contianer .ask ul li{
    margin-bottom: 20px;
    font-size: 1.3em;
    transition: all 0.5s ease-in-out;
}
.question-contianer .ask ul li:hover label,
.question-contianer .ask ul li:active label{
    color: brown;
    cursor: pointer;
}

.question-contianer .ask form input{
    margin:3px 3px 0px 5px;
}
















.next-question{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgba(137, 43, 226, 0.822);
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    letter-spacing: 2px;
    color: white;
    padding: 30px;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.next-question:hover,
.next-question:active{
    background-color: blueviolet;
}