*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    height: 100vh;
    /* background:linear-gradient(to top,#0ab4ac,white); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    background-color: #398AC1;
    color:white;
    padding:1rem;
    border-radius:8px;
    position:relative;
    width:300px;
    height: 85px;
    filter:drop-shadow(-20px 20px 40px #158d8d);
    font-family:sans-serif;
    transition: .7s ease-in-out;
}
.card-container.active{
    height: 385px;
}
.card-container .card-header{
    text-align: center;
    margin-bottom: 1rem;
}
.card-container .card-header .header{
    text-transform:uppercase;
}
.card-container .card-header p{
    text-transform:capitalize;
    margin-top:.1rem;
}
.card-container .bottom-button{
    position: absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
    width: 50px;
    height:30px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #398AC1;
    cursor:pointer;
}
.bottom-button:after{
    content:"";
    position:absolute;
    border-left:3px solid white;
    border-top:3px solid white;
    width:10px;
    height:10px;
    left:20px;
    top:5px;
    transform: rotate(-135deg);
}
.bottom-button.active:after{
    transform: rotate(45deg);
     top:10px;
}
.bottom-button .part{
    position: absolute;
    width: 30px;
    height:30px;
    left:-27px;
    border-top-right-radius: 100%;
    box-shadow: 10px -18px 0 10px #398AC1;
}
.bottom-button .part::after{
    content:"";
    position: absolute;
    width: 30px;
    height:30px;
    right:-73px;
    border-top-left-radius: 100%;
    box-shadow: -10px -17px 0 10px #398AC1;
}
.card-container .content{
    display: none;
    position: absolute;
    z-index:10;
    top:-100px;
    left:50%;
    transform: translateX(-50%);
    transition: 500ms ease-in-out;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    width: 100%;
}
.card-container .content.active{
    display: flex;
    animation-name: move;
    animation-duration:  500ms ;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes move{
    from{
        top:-100px;
        opacity:.5;
    }
    to{
        top:80px;
        opacity:1;
    }
}
.content img{
    width: 80%;
    border:5px solid white;
    box-shadow:  0 0 20px #050f0f;
}
.content button{
    padding:.7rem 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    color:#38332c;
    border:none;
    border-radius:20px;
    box-shadow:  0 0 20px #050f0f;
    cursor:pointer
}
