*{
    margin:0;
    padding:0;
    box-sizing:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#2f363e
}
.container{
    position: relative;
    background: #2f363e;
    min-height: 500px;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow:10px 10px 70px rgba(0, 0, 0, 0.25),
    25px 25px 75px rgba(0, 0, 0, 0.2),
    inset 5px 5px 10px rgba(0,0,0,0.25),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    position: relative;
    width:450px;
    height: 450px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.25),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.circle{
    position: absolute;
    border:1px solid black;
    border-radius: 50%;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}
.hr{
    width: 70%;
    height: 70%;
}
.mn{
    width: 50%;
    height: 50%;
}
.sc{
    width: 30%;
    height: 30%;
}

.circle::before{
    content: '';
    position: absolute;
    background: var(--clr);
    height: 50%;
    transform-origin: bottom;
    transform: scaleY(0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.circle:nth-child(1)::before{
    width: 5px;
}
.circle:nth-child(2)::before{
    width: 6px;
}

.circle:nth-child(3)::before{
    width: 4px;
}

.circle::after{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr);
    transform: translateY(-50%);
}

.clock .center{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid wheat;
    background-color: rgb(179, 1, 170);
    z-index: 10;
}

.clock span{
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc( 30deg * var(--i)));
    font-size: 2rem;
    color: #fff;
    opacity: 0.6;
}

span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}
.time{
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-bottom:20px;
    font-weight: 600;
    font-size: 2em;
    border:1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    10px 10px 20px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(0, 0, 0, 0.2),
    inset 5px 5px 10px rgba(255,255,255,0.2),
    inset -5px -5px 10px rgba(255,255,255,0.2);
}

.time div{
    color:var(--clr);
}
#minut::before,
#second::before{
    content: ':';
    margin-right: 5px;
    margin-left: 5px;
}

#second::before{
    animation: anim 1s step-end infinite;
    
}

@keyframes anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }

}
.time #text{
    color:#fff;
    font-size: 0.7em;
    text-align: center;
    margin-left: 10px;
}