body{
    background-color: #000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    position: absolute;
    text-align: center;
    background: #fff;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.card .btn{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom:0;
    font-size: 3em;
    background-color: rgba(32,199,129,0.4);
    color: #fff;
    transition: all 0.5s linear;
}
.front-card .btn:hover{
    background-color: rgba(32,199,129,0.7);
}
.btn.back{
    background-color: rgba(77,160,177,0.4);
}
.btn.back:hover{
    background-color: rgba(77,160,177,0.7);
}

.back-card{
    animation-name: backcard-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0.5;
    z-index: 1
}
.back-card.active{
    animation-name: backcard-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}

.front-card{
    animation-name: frontcard-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2
}
.front-card.active{
    animation-name: frontcard-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes frontcard-front{
    0%{
        transform:   translate3d(-150px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        transform:   translate3d(-350px, 0px, -30px);
    }
    100%{
        transform:   translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes frontcard-back{
    0%{
        transform: perspective(200px) translate3d(0px, 0px,0px);
        opacity: 1;
    }
    100%{
        transform: perspective(200px) translate3d(-150px,0px, -30px);
        opacity: 1;
    }
}

@keyframes backcard-front{
    0%{
        transform: perspective(200px) translate3d(150px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        transform: perspective(200px) translate3d(350px, 0px, -30px);
    }
    100%{
        transform: perspective(200px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes backcard-back{
    0%{
        transform: perspective(200px) translate3d(0px, 0px,0px);
        opacity: 1;
    }
    100%{
        transform: perspective(200px) translate3d(150px, 0px, -30px);
        opacity: 0.5;
    }
} 