body{
    background-color: #000;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card{
    position: absolute;
    text-align: center;
    background: #fff;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .btn{
    width: 100%;
    height: 100px;
    font-size: 3em;
    background-color: #20c78166;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 0.5s linear;
}
.btn.front:hover{
    background-color: #20c781b3;
}
.btn.back{
    background-color: #4da0b166;
}
.btn.back:hover{
    background-color: #4da0b1b3;
}

.back-card{
    z-index: 1;
    opacity: 0.5;
    animation-name: backcard-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.front-card{
    z-index: 2;
    animation-name: frontcard-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.back-card.active{
    z-index: 2;
    animation-name: backcard-front;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.front-card.active{
    z-index: 1;
    animation-name: frontcard-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes backcard-front{
    0%{
        transform: perspective(200px) translate3d(150px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        transform: perspective(200px) translate3d(350px, 0px, -30px);
    }
    100%{
        transform: perspective(200px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}
@keyframes frontcard-back{
    0%{
        transform: perspective(200px) translate3d(0px, 0px,0px);
        opacity: 1;
    }
    100%{
        transform: perspective(200px) translate3d(-150px,0px, -30px);
        opacity: .5;
    }
}

@keyframes frontcard-front{
    0%{
        transform:   translate3d(-150px, 0px, -30px);
        opacity: 0.5;
    }
    50%{
        transform:   translate3d(-350px, 0px, -30px);
    }
    100%{
        transform:   translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes backcard-back{
    0%{
        transform: perspective(200px) translate3d(0px, 0px,0px);
        opacity: 1;
    }
    100%{
        transform: perspective(200px) translate3d(150px, 0px, -30px);
        opacity: 0.5;
    }
} 